<nav #navbar class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-minimize">
            <button id="minimizeSidebar" class="btn btn-fill btn-icon"><i class="ti-more-alt"></i></button>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a [routerLink]="['/dashboard']" class="navbar-brand">{{ getToday() }}</a>
        </div>
        <div class="collapse navbar-collapse">
            <div class="" *ngIf="isMobileMenu()">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a>
                            <button (click)="logMeOut()" class="dropdown-toggle btn btn-md btn-danger">
                                Log Out
                            </button>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</nav>
