<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="card card-wizard" id="wizardCard">
                    <form id="wizardForm" (ngSubmit)="saveEntryNoImage()">
                        <div class="card-header text-center">
                            <h4 class="card-title">Morning Entry</h4>
                            <p class="category">Split a complicated flow in multiple steps</p>
                        </div>
                        <div class="card-content text-center">
                            <h5> Today I'm <em>Grateful</em> For...</h5>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-1">1</label>
                                    <div class="col-sm-11">
                                        <!-- autosize attribute for automatic expansion of textarea -->
                                        <textarea name="entryGrateful0" [(ngModel)]="newEntry.entryGrateful[0]" autosize class="form-control" placeholder="My good health and energy " rows="1"></textarea>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-1">2</label>
                                    <div class="col-sm-11">
                                        <textarea name="entryGrateful1" [(ngModel)]="newEntry.entryGrateful[1]" autosize class="form-control" placeholder="My supportive friendships" rows="1"></textarea>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-1">3</label>
                                    <div class="col-sm-11">
                                        <textarea name="entryGrateful2" [(ngModel)]="newEntry.entryGrateful[2]" autosize class="form-control" placeholder="Loving what I do every day" rows="1"></textarea>
                                    </div>
                                </div>
                            </fieldset>

                            <h5> Things I Will Accomplish Today...</h5>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-1">1</label>
                                    <div class="col-sm-11">
                                        <textarea name="entryWillAccomplish0" [(ngModel)]="newEntry.entryWillAccomplish[0]" autosize class="form-control" placeholder="Meet someone new" rows="1"></textarea>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-1">2</label>
                                    <div class="col-sm-11">
                                        <textarea name="entryWillAccomplish1" [(ngModel)]="newEntry.entryWillAccomplish[1]" autosize class="form-control" placeholder="Catch up with an old friend" rows="1"></textarea>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-1">3</label>
                                    <div class="col-sm-11">
                                        <textarea name="entryWillAccomplish2" [(ngModel)]="newEntry.entryWillAccomplish[2]" autosize class="form-control" placeholder="Do something scary" rows="1"></textarea>
                                    </div>
                                </div>
                            </fieldset>

                            <h5> Daily Affirmation </h5>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-1"></label>
                                    <div class="col-sm-11">
                                        <textarea name="entryAffirmation" [(ngModel)]="newEntry.entryAffirmation" autosize class="form-control" placeholder="I may not be the best, but I'm not afraid of hard work. No one will outwork me." rows="1"></textarea>
                                    </div>
                                </div>
                            </fieldset>

                            <h5> Free Association Mind Dump </h5>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-1"></label>
                                    <div class="col-sm-11">
                                        <textarea name="entryDump" [(ngModel)]="newEntry.entryDump" autosize class="form-control" placeholder="Your thoughts this morning..." rows="4"></textarea>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <div class="card-header text-center">
                            <h4 class="card-title">Evening Entry</h4>
                            <p class="category">Split a complicated flow in multiple steps</p>
                        </div>
                        <div class="card-content text-center">
                            <fieldset>
                                <div class="form-group">
                                    <h5> Rate My Day </h5>
                                    <div class="col-sm-12">
                                        <div class="radio checkbox-inline">
                                            <input name="entryRating" [(ngModel)]="newEntry.entryRating" type="radio" [value]="1">
                                            <label for="radio20">
                                                1
                                            </label>
                                        </div>
                                        <div class="radio checkbox-inline">
                                            <input name="entryRating" [(ngModel)]="newEntry.entryRating" type="radio" [value]="2">
                                            <label for="radio21">
                                                2
                                            </label>
                                        </div>
                                        <div class="radio checkbox-inline">
                                            <input name="entryRating" [(ngModel)]="newEntry.entryRating" type="radio" [value]="3">
                                            <label for="radio22">
                                                3
                                            </label>
                                        </div>
                                        <div class="radio checkbox-inline">
                                            <input name="entryRating" [(ngModel)]="newEntry.entryRating" type="radio" [value]="4">
                                            <label for="radio23">
                                                4
                                            </label>
                                        </div>
                                        <div class="radio checkbox-inline">
                                            <input name="entryRating" [(ngModel)]="newEntry.entryRating" type="radio" [value]="5">
                                            <label for="radio24">
                                                5
                                            </label>
                                        </div>
                                        <div class="radio checkbox-inline">
                                            <input name="entryRating" [(ngModel)]="newEntry.entryRating" type="radio" [value]="6">
                                            <label for="radio25">
                                                6
                                            </label>
                                        </div>
                                        <div class="radio checkbox-inline">
                                            <input name="entryRating" [(ngModel)]="newEntry.entryRating" type="radio" [value]="7">
                                            <label for="radio26">
                                                7
                                            </label>
                                        </div>
                                        <div class="radio checkbox-inline">
                                            <input name="entryRating" [(ngModel)]="newEntry.entryRating" type="radio" [value]="8">
                                            <label for="radio27">
                                                8
                                            </label>
                                        </div>
                                        <div class="radio checkbox-inline">
                                            <input name="entryRating" [(ngModel)]="newEntry.entryRating" type="radio" [value]="9">
                                            <label for="radio28">
                                                9
                                            </label>
                                        </div>
                                        <div class="radio checkbox-inline">
                                            <input name="entryRating" [(ngModel)]="newEntry.entryRating" type="radio" [value]="10">
                                            <label for="radio29">
                                                10
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            
                            <h5> What Did I Achieve Today? </h5>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-1">1</label>
                                    <div class="col-sm-11">
                                        <textarea name="entryAchievements0" [(ngModel)]="newEntry.entryAchievements[0]" autosize class="form-control" placeholder="Meet someone new" rows="1"></textarea>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-1">2</label>
                                    <div class="col-sm-11">
                                        <textarea name="entryAchievements1" [(ngModel)]="newEntry.entryAchievements[1]" autosize class="form-control" placeholder="Catch up with an old friend" rows="1"></textarea>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-1">3</label>
                                    <div class="col-sm-11">
                                        <textarea name="entryAchievements2" [(ngModel)]="newEntry.entryAchievements[2]" autosize class="form-control" placeholder="Do something scary" rows="1"></textarea>
                                    </div>
                                </div>
                            </fieldset>
                        
                            <h5> What Did I Learn Today? </h5>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-1"></label>
                                    <div class="col-sm-11">
                                        <textarea name="entryLearn" [(ngModel)]="newEntry.entryLearn" autosize class="form-control" placeholder="Meet someone new" rows="1"></textarea>
                                    </div>
                                </div>
                            </fieldset>

                            <h5> How Could I Have Made Today Even Better? </h5>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-sm-1"></label>
                                    <div class="col-sm-11">
                                        <textarea name="entryImprove" [(ngModel)]="newEntry.entryImprove" autosize class="form-control" placeholder="Meet someone new" rows="1"></textarea>
                                    </div>
                                </div>
                            </fieldset>

                            <br>
                            
                            <div class="card-footer">
                                <button [routerLink]="['/dashboard']" type="button" class="btn btn-default btn-fill btn-wd btn-back">Discard</button>
                                <button type="submit" class="btn btn-info btn-fill btn-wd btn-next">Save and Submit</button>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
