/* Container Styles */

.main-content {
    padding: 0px 15px;
}
.date-nav-item {
    font-size: 20px;
}
.row-nav-year{
    margin-top: 10px;
}
.nav-row {
    margin-bottom: 20px;
}
.date-nav {
    margin: 0 10px;
}
.nav-button {
    background-color: transparent;
    border: 2px solid #66615B;
    border-radius: 20px;
    color: #66615B;
    height: 36px;
    font-weight: 600;
    margin: 0 2px;
    min-width: 36px;
    padding: 6px;
    line-height: 22px;
    text-align: center;
}
.nav-button:hover{
    background-color: #66615B;
    border-color: #66615B;
    color: #FFFFFF;
}
/* Filled Card Styles */

.entry-card {
    height: 337px;
    display: flex;
    flex-direction: column-reverse;
    background-image: url("../../../assets/img/background.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
.card-date{
    font-size: 40px;
}
.card-month{
    font-size: 20px;
    font-weight: bold;
}
.date-container{
    margin: 0 0 12px 20px;
    color: white;
}
.overlay:before{
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    z-index:0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 6px;
  }
.overlay:hover:before{
    transition: background-color 0.5s ease;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Card Button Styles */

.card-button-edit {
    left: 40%;
}
.card-button-photo {
    left: 58%;
}
.btn-github:hover{
    background-color: rgba(232, 229, 229, 0.2);
}
.card-button-edit, .card-button-photo{
    padding: 11px 16px;
    border-color: #e2e2e2;
    color: #e2e2e2;
    bottom: 44%;
    font-size: 22px;
    border-radius: 35px;
    transform: translateX(-50%);
    position: absolute;
    visibility: hidden;
    opacity: 0;
}
.entry-card:hover > .card-button-edit, .entry-card:hover > .card-button-photo, .entry-card:hover > .card-button-add  {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 500ms;
}

/* Empty Card Styles */

.empty {
    background-image: url("");
}
.card-button-add{
    left: 50%;
    padding: 15px 20px;
    border-color: #e2e2e2;
    color: #e2e2e2;
    bottom: 42%;
    font-size: 23px;
    border-radius: 35px;
    transform: translateX(-50%);
    position: absolute;
    visibility: hidden;
    opacity: 0;
}
.empty-prompt {
    width: 80%;
    left: 54%;
    color: #e2e2e2;
    bottom: 42%;
    font-size: 26px;
    transform: translateX(-50%);
    position: absolute;
    visibility: visible;
    opacity: 1;
}
.entry-card:hover > .empty-prompt  {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}