<div class="main-content">
    <div class="container-fluid">
        <div class="row text-center row-nav-year">
            <span class="nav-year">{{ weekDates[0].getFullYear() }}</span>
        </div>
        <!-- Navigation buttons row -->
        <div class="row nav-row text-center">
            
            <i (click)="prevMonth(); onAnimate()" class="fa fa-angle-double-left nav-button" aria-hidden="true"></i>
            <i (click)="prevWeek(); onAnimate()" class="fa fa-angle-left nav-button" aria-hidden="true"></i>
           
            <span class="date-nav">
                <span class="date-nav-item">{{ monthNames[weekDates[0].getMonth()] }}</span>
                <span class="date-nav-item">{{ weekDates[0].getDate() }}</span>
            </span>
            <span>-</span>
            <span class="date-nav">
                <span class="date-nav-item">{{ monthNames[weekDates[6].getMonth()] }}</span>
                <span class="date-nav-item">{{ weekDates[6].getDate() }}</span>
            </span>
            <i (click)="nextWeek(); onAnimate()" class="fa fa-angle-right nav-button" aria-hidden="true"></i>
            <i (click)="nextMonth(); onAnimate()" class="fa fa-angle-double-right nav-button" aria-hidden="true"></i>
        </div>
        
        <!-- Begin entry cards -->

        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div *ngIf="entryInDatabase[0] !== false ; else noEntry0">
                    <!-- Fade animation -->
                    <div [@fadeInOut]="state" class="entry-card0 card overlay" 
                        [ngStyle]="{ 'background-image': entryInDatabase[0].image === 'undefined' ? basic : 'url(' + imageDomain + entryInDatabase[0].image + ')' }">
                        <!-- If entry image does not exist, make background image the css style -->
                        <!-- button routes to specific URL of each entry -->
                        <button [routerLink]="['/dashboard', 
                        'edit', 
                        weekDates[0].getFullYear(), 
                        mmMonthify(weekDates[0].getMonth() + 1), 
                        ddDatify(weekDates[0].getDate())]"
                        class="btn btn-icon btn-github card-button-add"
                        class="btn btn-icon btn-github card-button-edit">
                            <i class="ti-pencil"></i>
                        </button>
                        <!-- image upload input. It's hidden, the button myFile.click activates it -->
                        <input type="file" #myFile
                            ng2FileSelect [uploader]="myUploader"
                            (change)="saveEntryWithImage(entryInDatabase[0])">
                        <button (click)="myFile.click()" class="btn btn-icon btn-github card-button-photo">
                            <i class="ti-camera"></i>
                        </button>    
                        <div class="card-footer">
                            <div class="footer-title date-container"> 
                                <span class="card-date">{{ weekDates[0].getDate() }}</span>
                                <p class="card-month">{{ monthNames[weekDates[0].getMonth()] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- If there isn't an entry, display these styles instead -->
                <ng-template #noEntry0>
                    <div [@fadeInOut]="state" class="entry-card0 card overlay empty">
                        <p class="empty-prompt">What Happened Today?</p>
                        <button [routerLink]="['/dashboard', 
                            'new', 
                            weekDates[0].getFullYear(), 
                            mmMonthify(weekDates[0].getMonth() + 1), 
                            ddDatify(weekDates[0].getDate())]"
                            class="btn btn-icon btn-github card-button-add">
                            <i class="ti-plus"></i>
                        </button>     
                        <div class="card-footer">
                            <div class="footer-title date-container"> 
                                <span class="card-date">{{ weekDates[0].getDate() }}</span>
                                <p class="card-month">{{ monthNames[weekDates[0].getMonth()] }}</p>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div *ngIf="entryInDatabase[1]; else noEntry1">
                    <div [@fadeInOut]="state" class="entry-card1 card overlay"
                        [ngStyle]="{ 'background-image': entryInDatabase[1].image === 'undefined' ? basic : 'url(' + imageDomain + entryInDatabase[1].image + ')' }">
                        <button [routerLink]="['/dashboard', 
                        'edit', 
                        weekDates[1].getFullYear(), 
                        mmMonthify(weekDates[1].getMonth() + 1), 
                        ddDatify(weekDates[1].getDate())]"
                        class="btn btn-icon btn-github card-button-add"
                        class="btn btn-icon btn-github card-button-edit">
                            <i class="ti-pencil"></i>
                        </button>
                        <input type="file" #myFile
                            ng2FileSelect [uploader]="myUploader"
                            (change)="saveEntryWithImage(entryInDatabase[1])">
                        <button (click)="myFile.click()" class="btn btn-icon btn-github card-button-photo">
                            <i class="ti-camera"></i>
                        </button>    
                        <div class="card-footer">
                            <div class="footer-title date-container"> 
                                <span class="card-date">{{ weekDates[1].getDate() }}</span>
                                <p class="card-month">{{ monthNames[weekDates[1].getMonth()] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #noEntry1>
                    <div [@fadeInOut]="state" class="entry-card1 card overlay empty">
                        <p class="empty-prompt">What Happened Today?</p>
                        <button [routerLink]="['/dashboard', 
                            'new', 
                            weekDates[1].getFullYear(), 
                            mmMonthify(mmMonthify(weekDates[1].getMonth() + 1)), 
                            ddDatify(weekDates[1].getDate())]"
                            class="btn btn-icon btn-github card-button-add">
                            <i class="ti-plus"></i>
                        </button>     
                        <div class="card-footer">
                            <div class="footer-title date-container"> 
                                <span class="card-date">{{ weekDates[1].getDate() }}</span>
                                <p class="card-month">{{ monthNames[weekDates[1].getMonth()] }}</p>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div *ngIf="entryInDatabase[2]; else noEntry2">
                    <div [@fadeInOut]="state" class="entry-card2 card overlay"
                    [ngStyle]="{ 'background-image': entryInDatabase[2].image === 'undefined' ? basic : 'url(' + imageDomain + entryInDatabase[2].image + ')' }">
                        <button [routerLink]="['/dashboard', 
                        'edit', 
                        weekDates[2].getFullYear(), 
                        mmMonthify(weekDates[2].getMonth() + 1), 
                        ddDatify(weekDates[2].getDate())]"
                        class="btn btn-icon btn-github card-button-add"
                        class="btn btn-icon btn-github card-button-edit">
                            <i class="ti-pencil"></i>
                        </button>
                        <input type="file" #myFile
                            ng2FileSelect [uploader]="myUploader"
                            (change)="saveEntryWithImage(entryInDatabase[2])">
                        <button (click)="myFile.click()" class="btn btn-icon btn-github card-button-photo">
                            <i class="ti-camera"></i>
                        </button>    
                        <div class="card-footer">
                            <div class="footer-title date-container"> 
                                <span class="card-date">{{ weekDates[2].getDate() }}</span>
                                <p class="card-month">{{ monthNames[weekDates[2].getMonth()] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #noEntry2>
                    <div [@fadeInOut]="state" class="entry-card card overlay empty">
                        <p class="empty-prompt">What Happened Today?</p>
                        <button [routerLink]="['/dashboard', 
                            'new', 
                            weekDates[2].getFullYear(), 
                            mmMonthify(weekDates[2].getMonth() + 1), 
                            ddDatify(weekDates[2].getDate())]"
                            class="btn btn-icon btn-github card-button-add">
                            <i class="ti-plus"></i>
                        </button>     
                        <div class="card-footer">
                            <div class="footer-title date-container"> 
                                <span class="card-date">{{ weekDates[2].getDate() }}</span>
                                <p class="card-month">{{ monthNames[weekDates[2].getMonth()] }}</p>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div *ngIf="entryInDatabase[3]; else noEntry3">
                    <div [@fadeInOut]="state" class="entry-card3 card overlay"
                    [ngStyle]="{ 'background-image': entryInDatabase[3].image === 'undefined' ? basic : 'url(' + imageDomain + entryInDatabase[3].image + ')' }">
                        <button [routerLink]="['/dashboard', 
                        'edit', 
                        weekDates[3].getFullYear(), 
                        mmMonthify(weekDates[3].getMonth() + 1), 
                        ddDatify(weekDates[3].getDate())]"
                        class="btn btn-icon btn-github card-button-add"
                        class="btn btn-icon btn-github card-button-edit">
                            <i class="ti-pencil"></i>
                        </button>
                        <input type="file" #myFile
                            ng2FileSelect [uploader]="myUploader"
                            (change)="saveEntryWithImage(entryInDatabase[3])">
                        <button (click)="myFile.click()" class="btn btn-icon btn-github card-button-photo">
                            <i class="ti-camera"></i>
                        </button>    
                        <div class="card-footer">
                            <div class="footer-title date-container"> 
                                <span class="card-date">{{ weekDates[3].getDate() }}</span>
                                <p class="card-month">{{ monthNames[weekDates[3].getMonth()] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #noEntry3>
                    <div [@fadeInOut]="state" class="entry-card card overlay empty">
                        <p class="empty-prompt">What Happened Today?</p>
                        <button [routerLink]="['/dashboard', 
                            'new', 
                            weekDates[3].getFullYear(), 
                            mmMonthify(weekDates[3].getMonth() + 1), 
                            ddDatify(weekDates[3].getDate())]"
                            class="btn btn-icon btn-github card-button-add">
                            <i class="ti-plus"></i>
                        </button>     
                        <div class="card-footer">
                            <div class="footer-title date-container"> 
                                <span class="card-date">{{ weekDates[3].getDate() }}</span>
                                <p class="card-month">{{ monthNames[weekDates[3].getMonth()] }}</p>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div *ngIf="entryInDatabase[4]; else noEntry4">
                    <div [@fadeInOut]="state" class="entry-card4 card overlay"
                    [ngStyle]="{ 'background-image': entryInDatabase[4].image === 'undefined' ? basic : 'url(' + imageDomain + entryInDatabase[4].image + ')' }">
                        <button [routerLink]="['/dashboard', 
                        'edit', 
                        weekDates[4].getFullYear(), 
                        mmMonthify(weekDates[4].getMonth() + 1), 
                        ddDatify(weekDates[4].getDate())]"
                        class="btn btn-icon btn-github card-button-add"
                        class="btn btn-icon btn-github card-button-edit">
                            <i class="ti-pencil"></i>
                        </button>
                        <input type="file" #myFile
                            ng2FileSelect [uploader]="myUploader"
                            (change)="saveEntryWithImage(entryInDatabase[4])">
                        <button (click)="myFile.click()" class="btn btn-icon btn-github card-button-photo">
                            <i class="ti-camera"></i>
                        </button>    
                        <div class="card-footer">
                            <div class="footer-title date-container"> 
                                <span class="card-date">{{ weekDates[4].getDate() }}</span>
                                <p class="card-month">{{ monthNames[weekDates[4].getMonth()] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #noEntry4>
                    <div [@fadeInOut]="state" class="entry-card card overlay empty">
                        <p class="empty-prompt">What Happened Today?</p>
                        <button [routerLink]="['/dashboard', 
                            'new', 
                            weekDates[4].getFullYear(), 
                            mmMonthify(weekDates[4].getMonth() + 1), 
                            ddDatify(weekDates[4].getDate())]"
                            class="btn btn-icon btn-github card-button-add">
                            <i class="ti-plus"></i>
                        </button>     
                        <div class="card-footer">
                            <div class="footer-title date-container"> 
                                <span class="card-date">{{ weekDates[4].getDate() }}</span>
                                <p class="card-month">{{ monthNames[weekDates[4].getMonth()] }}</p>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div *ngIf="entryInDatabase[5]; else noEntry5">
                    <div [@fadeInOut]="state" class="entry-card5 card overlay"
                        [ngStyle]="{ 'background-image': entryInDatabase[5].image === 'undefined' ? basic : 'url(' + imageDomain + entryInDatabase[5].image + ')' }">
                        <button [routerLink]="['/dashboard', 
                        'edit', 
                        weekDates[5].getFullYear(), 
                        mmMonthify(weekDates[5].getMonth() + 1), 
                        ddDatify(weekDates[5].getDate())]"
                        class="btn btn-icon btn-github card-button-add"
                        class="btn btn-icon btn-github card-button-edit">
                            <i class="ti-pencil"></i>
                        </button>
                        <input type="file" #myFile
                            ng2FileSelect [uploader]="myUploader"
                            (change)="saveEntryWithImage(entryInDatabase[5])">
                        <button (click)="myFile.click()" class="btn btn-icon btn-github card-button-photo">
                            <i class="ti-camera"></i>
                        </button>    
                        <div class="card-footer">
                            <div class="footer-title date-container"> 
                                <span class="card-date">{{ weekDates[5].getDate() }}</span>
                                <p class="card-month">{{ monthNames[weekDates[5].getMonth()] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #noEntry5>
                    <div [@fadeInOut]="state" class="entry-card card overlay empty">
                        <p class="empty-prompt">What Happened Today?</p>
                        <button [routerLink]="['/dashboard', 
                            'new', 
                            weekDates[5].getFullYear(), 
                            mmMonthify(weekDates[5].getMonth() + 1), 
                            ddDatify(weekDates[5].getDate())]"
                            class="btn btn-icon btn-github card-button-add">
                            <i class="ti-plus"></i>
                        </button>     
                        <div class="card-footer">
                            <div class="footer-title date-container"> 
                                <span class="card-date">{{ weekDates[5].getDate() }}</span>
                                <p class="card-month">{{ monthNames[weekDates[5].getMonth()] }}</p>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div *ngIf="entryInDatabase[6]; else noEntry6">
                    <div [@fadeInOut]="state" class="entry-card6 card overlay"
                        [ngStyle]="{ 'background-image': entryInDatabase[6].image === 'undefined' ? basic : 'url(' + imageDomain + entryInDatabase[6].image + ')' }">
                        <button [routerLink]="['/dashboard', 
                        'edit', 
                        weekDates[6].getFullYear(), 
                        mmMonthify(weekDates[6].getMonth() + 1), 
                        ddDatify(weekDates[6].getDate())]"
                        class="btn btn-icon btn-github card-button-add"
                        class="btn btn-icon btn-github card-button-edit">
                            <i class="ti-pencil"></i>
                        </button>
                        <input type="file" #myFile
                            ng2FileSelect [uploader]="myUploader"
                            (change)="saveEntryWithImage(entryInDatabase[6])">
                        <button (click)="myFile.click()" class="btn btn-icon btn-github card-button-photo">
                            <i class="ti-camera"></i>
                        </button>    
                        <div class="card-footer">
                            <div class="footer-title date-container"> 
                                <span class="card-date">{{ weekDates[6].getDate() }}</span>
                                <p class="card-month">{{ monthNames[weekDates[6].getMonth()] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #noEntry6>
                    <div [@fadeInOut]="state" class="entry-card card overlay empty">
                        <p class="empty-prompt">What Happened Today?</p>
                        <button [routerLink]="['/dashboard', 
                            'new', 
                            weekDates[6].getFullYear(), 
                            mmMonthify(weekDates[6].getMonth() + 1), 
                            ddDatify(weekDates[6].getDate())]"
                            class="btn btn-icon btn-github card-button-add">
                            <i class="ti-plus"></i>
                        </button>     
                        <div class="card-footer">
                            <div class="footer-title date-container"> 
                                <span class="card-date">{{ weekDates[6].getDate() }}</span>
                                <p class="card-month">{{ monthNames[weekDates[6].getMonth()] }}</p>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card card-circle-chart" data-background-color="orange">
                    <div class="card-header text-center">
                        <h5 class="card-title">Entries completed in {{ fullMonthNames[weekDates[0].getMonth()] }} </h5>
                        <p class="description">{{ filteredByMonthArray.length }} Out of {{ daysInMonth }} Days</p>
                    </div>
                    <div class="card-content">
                        <div id="chartNewVisitors" class="chart-circle" [attr.data-percent]= "percentDone" >{{ percentDone }}%</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="card card-circle-chart" data-background-color="brown">
                        <div class="card-header text-center">
                            <h5 class="card-title">Average Daily Rating</h5>
                            <p class="description">{{ fullMonthNames[weekDates[0].getMonth()] }} </p>
                        </div>
                        <div class="card-content">
                            <div id="chartSubscriptions" class="chart-circle" [attr.data-percent]="averageRating * 10">{{ averageRating }} / 10</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
