<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="entry-card card">
                    <div class="card-footer">
                        <div class="footer-title"> 
                            <span>26</span>
                            <p>SEP</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-7">
                                <div class="numbers pull-left">
                                    169
                                </div>
                            </div>
                            <div class="col-xs-5">
                                <div class="pull-right">
                                    <span class="label label-danger">
                                        -14%
                                    </span>
                                </div>
                            </div>
                        </div>
                        <h6 class="big-title">total subscriptions <span class="text-muted">in last</span> 7 days</h6>
                        <div id="chartTotalSubscriptions"></div>
                    </div>
                    <div class="card-footer">
                        <hr>
                        <div class="footer-title">View all members</div>
                        <div class="pull-right">
                            <button class="btn btn-default btn-fill btn-icon btn-sm">
                                <i class="ti-angle-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-7">
                                <div class="numbers pull-left">
                                    8,960
                                </div>
                            </div>
                            <div class="col-xs-5">
                                <div class="pull-right">
                                    <span class="label label-warning">
                                        ~51%
                                    </span>
                                </div>
                            </div>
                        </div>
                        <h6 class="big-title">total downloads <span class="text-muted">in last</span> 6 years</h6>
                        <div id="chartTotalDownloads" ></div>
                    </div>
                    <div class="card-footer">
                        <hr>
                        <div class="footer-title">View more details</div>
                        <div class="pull-right">
                            <button class="btn btn-success btn-fill btn-icon btn-sm">
                                <i class="ti-info"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card card-circle-chart" data-background-color="blue">
                    <div class="card-header text-center">
                        <h5 class="card-title">Dashboard</h5>
                        <p class="description">Monthly sales target</p>
                    </div>
                    <div class="card-content">
                        <div id="chartDashboard" class="chart-circle" data-percent="70">70%</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card card-circle-chart" data-background-color="green">
                    <div class="card-header text-center">
                        <h5 class="card-title">Orders</h5>
                        <p class="description">Completed</p>
                    </div>
                    <div class="card-content">
                        <div id="chartOrders" class="chart-circle" data-percent="34">34%</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card card-circle-chart" data-background-color="orange">
                    <div class="card-header text-center">
                        <h5 class="card-title">New Visitors</h5>
                        <p class="description">Out of total number</p>
                    </div>
                    <div class="card-content">
                        <div id="chartNewVisitors" class="chart-circle" data-percent="62">62%</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card card-circle-chart" data-background-color="brown">
                    <div class="card-header text-center">
                        <h5 class="card-title">Subscriptions</h5>
                        <p class="description">Monthly newsletter</p>
                    </div>
                    <div class="card-content">
                        <div id="chartSubscriptions" class="chart-circle" data-percent="10">10%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
