<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <button (click)="prevWeek()">Prev</button>
            <button (click)="nextWeek()">Next</button>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="entry-card card overlay">
                    <button class="btn btn-icon btn-github card-button-edit">
                        <i class="ti-pencil"></i>
                    </button>
                    <button class="btn btn-icon btn-github card-button-photo">
                        <i class="ti-camera"></i>
                    </button>
                    <div class="card-footer">
                        <div class="footer-title date-container"> 
                            <span class="card-date">{{ weekDates[0].getDate() }}</span>
                            <!-- pass month number into array of months for string -->
                            <p class="card-month">{{ monthNames[weekDates[0].getMonth()] }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="entry-card card overlay">
                    <button class="btn btn-icon btn-github card-button-edit">
                        <i class="ti-pencil"></i>
                    </button>
                    <button class="btn btn-icon btn-github card-button-photo">
                        <i class="ti-camera"></i>
                    </button>
                    <div class="card-footer">
                        <div class="footer-title date-container"> 
                            <span class="card-date">{{ weekDates[1].getDate() }}</span>
                            <p class="card-month">{{ monthNames[weekDates[1].getMonth()] }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="entry-card card overlay empty">
                    <p class="empty-prompt">What Happened Today?</p>
                    <button class="btn btn-icon btn-github card-button-add">
                        <i class="ti-plus"></i>
                    </button>
                    <div class="card-footer">
                        <div class="footer-title date-container"> 
                            <span class="card-date">{{ weekDates[2].getDate() }}</span>
                            <p class="card-month">{{ monthNames[weekDates[2].getMonth()] }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="entry-card card overlay empty">
                    <p class="empty-prompt">What Happened Today?</p>
                    <button class="btn btn-icon btn-github card-button-add">
                        <i class="ti-plus"></i>
                    </button>
                    <div class="card-footer">
                        <div class="footer-title date-container"> 
                            <span class="card-date">{{ weekDates[3].getDate() }}</span>
                            <p class="card-month">{{ monthNames[weekDates[3].getMonth()] }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="entry-card card overlay empty">
                    <p class="empty-prompt">What Happened Today?</p>
                    <button class="btn btn-icon btn-github card-button-add">
                        <i class="ti-plus"></i>
                    </button>
                    <div class="card-footer">
                        <div class="footer-title date-container"> 
                            <span class="card-date">{{ weekDates[4].getDate() }}</span>
                            <p class="card-month">{{ monthNames[weekDates[4].getMonth()] }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="entry-card card overlay empty">
                    <p class="empty-prompt">What Happened Today?</p>
                    <button class="btn btn-icon btn-github card-button-add">
                        <i class="ti-plus"></i>
                    </button>
                    <div class="card-footer">
                        <div class="footer-title date-container"> 
                            <span class="card-date">{{ weekDates[5].getDate() }}</span>
                            <p class="card-month">{{ monthNames[weekDates[5].getMonth()] }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="entry-card card overlay empty">
                    <p class="empty-prompt">What Happened Today?</p>
                    <button class="btn btn-icon btn-github card-button-add">
                        <i class="ti-plus"></i>
                    </button>
                    <div class="card-footer">
                        <div class="footer-title date-container"> 
                            <span class="card-date">{{ weekDates[6].getDate() }}</span>
                            <p class="card-month">{{ monthNames[weekDates[6].getMonth()] }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card card-circle-chart" data-background-color="blue">
                    <div class="card-header text-center">
                        <h5 class="card-title">Dashboard</h5>
                        <p class="description">Monthly sales target</p>
                    </div>
                    <div class="card-content">
                        <div id="chartDashboard" class="chart-circle" data-percent="70">70%</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card card-circle-chart" data-background-color="green">
                    <div class="card-header text-center">
                        <h5 class="card-title">Orders</h5>
                        <p class="description">Completed</p>
                    </div>
                    <div class="card-content">
                        <div id="chartOrders" class="chart-circle" data-percent="34">34%</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card card-circle-chart" data-background-color="orange">
                    <div class="card-header text-center">
                        <h5 class="card-title">New Visitors</h5>
                        <p class="description">Out of total number</p>
                    </div>
                    <div class="card-content">
                        <div id="chartNewVisitors" class="chart-circle" data-percent="62">62%</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card card-circle-chart" data-background-color="brown">
                    <div class="card-header text-center">
                        <h5 class="card-title">Subscriptions</h5>
                        <p class="description">Monthly newsletter</p>
                    </div>
                    <div class="card-content">
                        <div id="chartSubscriptions" class="chart-circle" data-percent="10">10%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
